.navbar{
    background-color: rosybrown;
    display: flex;
    justify-content: space-around;
}
.navbar .logo{
    width: 80px;
    height: 80px;

}
.categories{
    display: flex;
}
.categories li {
    padding: 0 20px;
    list-style-type: none;
    font-weight: bold;

}


.cart-count {
background-color: red;
color: white;
border-radius: 50%;
width: 20px;
height: 20px;
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
margin-left: 20px;
}
